@require 'var'
@require 'func'

.btn
	display block
	padding 0 10px
	width 100%
	background-color $color-blue
	color $color-white
	text-align center
	text-decoration none
	line-height 50px
	white-space nowrap
	text-overflow ellipsis
	overflow hidden
	box-sizing border-box
	border-width 1px
	border-style solid
	border-color $color-blue-semi-dark
	cursor pointer
	roundBorder(3)
	&:hover, &:active, &:focus
		background-color alpha($color-blue, 0.7)
		outline 0

.btn.light
	color $color-white
	border-color $color-white
	&:hover
		background-color alpha($color-white, 0.3)